{
  "jsc": {
    "parser": {
      "syntax": "ecmascript",
      "jsx": true
    },
    "experimental": {
      "plugins": [
        ["env_var_replacer", {
            replacements: {
                "VERSION": "PACKAGE_VERSION"
              }
          }]
      ]
    }
  }
}
